* {
  min-height: 0;
  min-width: 0;

  box-sizing: border-box;

  padding: 0;
  margin: 0;

  left: 0px;
  top: 0px;

  position: relative;

  border-radius: 20px;

}

:root {

  height: 100%;
  width: 100%;

  border-radius: 0;

}

body {

  border-radius: 0;

  height: 100%;
  width: 100%;

  overflow: hidden;

}