* {
  min-height: 0;
  min-width: 0;

  box-sizing: border-box;

  padding: 0;
  margin: 0;

  left: 0px;
  top: 0px;

  position: relative;

  border-radius: 20px;

}

:root {

  height: 100%;
  width: 100%;

  border-radius: 0;

}

:root {

  --color-primary-sel: #06060f;
  --color-secondary-sel: #0e141f;
  --color-accentA-sel: #ffc156;
  --color-accentB-sel: #19fff0;
  --color-accentC-sel: #ffcac2;

  --color-buttonAccept-sel: #3dc63f;
  --color-buttonReject-sel: #c63d3d;
  --color-buttonAditional-sel: #3d8bc6;

}

body {

  border-radius: 0;

  height: 100%;
  width: 100%;

  overflow: hidden;

}